draco/templates/aemet_template_ckan.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>00f18cbe-0182-1000-3b72-5236233646f0</groupId>
    <name>aemet_template_ckan</name>
    <snippet>
        <connections>
            <id>0e71b2ed-df61-3890-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>00becf9a-4e71-3165-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>de72d461-da06-308f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5e09b948-ac21-37a3-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>e5ec11b5-3866-32d9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Success</selectedRelationships>
            <source>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>820e197f-4551-361b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>982d40a5-e272-3d48-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>bed9f2ba-d29f-385a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>00becf9a-4e71-3165-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b3149963-1441-3eb8-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>de72d461-da06-308f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>6790739c-713a-3ee2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d4a5f2f8-3999-382f-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>820e197f-4551-361b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>5b009958-2cad-3747-0000-000000000000</groupId>
                <id>00becf9a-4e71-3165-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>00becf9a-4e71-3165-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <position>
                <x>1056.0</x>
                <y>216.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>entity_id</key>
                        <value>
                            <name>entity_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>station_id</key>
                        <value>
                            <name>station_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>station_name_address</key>
                        <value>
                            <name>station_name_address</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to 'match' if all match</value>
                    </entry>
                    <entry>
                        <key>entity_id</key>
                        <value>${entity_id:isEmpty():not()}</value>
                    </entry>
                    <entry>
                        <key>station_id</key>
                        <value>${station_id:isEmpty():not()}</value>
                    </entry>
                    <entry>
                        <key>station_name_address</key>
                        <value>${station_name_address:isEmpty():not()}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>6790739c-713a-3ee2-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <position>
                <x>24.0</x>
                <y>48.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Base Path</key>
                        <value>
                            <name>Base Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Listening Port</key>
                        <value>
                            <name>Listening Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>health-check-port</key>
                        <value>
                            <name>health-check-port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Data to Receive per Second</key>
                        <value>
                            <name>Max Data to Receive per Second</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>client-authentication</key>
                        <value>
                            <dependencies>
<propertyName>SSL Context Service</propertyName>
                            </dependencies>
                            <name>client-authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Authorized DN Pattern</key>
                        <value>
                            <name>Authorized DN Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>authorized-issuer-dn-pattern</key>
                        <value>
                            <name>authorized-issuer-dn-pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Unconfirmed Flowfile Time</key>
                        <value>
                            <name>Max Unconfirmed Flowfile Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>HTTP Headers to receive as Attributes (Regex)</key>
                        <value>
                            <name>HTTP Headers to receive as Attributes (Regex)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Code</key>
                        <value>
                            <name>Return Code</name>
                        </value>
                    </entry>
                    <entry>
                        <key>multipart-request-max-size</key>
                        <value>
                            <name>multipart-request-max-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>multipart-read-buffer-size</key>
                        <value>
                            <name>multipart-read-buffer-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-thread-pool-size</key>
                        <value>
                            <name>max-thread-pool-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <dependencies>
<propertyName>record-reader</propertyName>
                            </dependencies>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Base Path</key>
                        <value>ld/notify/weatherObserved</value>
                    </entry>
                    <entry>
                        <key>Listening Port</key>
                        <value>5050</value>
                    </entry>
                    <entry>
                        <key>health-check-port</key>
                    </entry>
                    <entry>
                        <key>Max Data to Receive per Second</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>client-authentication</key>
                        <value>AUTO</value>
                    </entry>
                    <entry>
                        <key>Authorized DN Pattern</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>authorized-issuer-dn-pattern</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Max Unconfirmed Flowfile Time</key>
                        <value>60 secs</value>
                    </entry>
                    <entry>
                        <key>HTTP Headers to receive as Attributes (Regex)</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Return Code</key>
                        <value>200</value>
                    </entry>
                    <entry>
                        <key>multipart-request-max-size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>multipart-read-buffer-size</key>
                        <value>512 KB</value>
                    </entry>
                    <entry>
                        <key>max-thread-pool-size</key>
                        <value>200</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ListenHTTP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListenHTTP</type>
        </processors>
        <processors>
            <id>820e197f-4551-361b-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <position>
                <x>608.0</x>
                <y>368.0</y>
            </position>
            <bundle>
                <artifact>nifi-ngsi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>2.1.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>organizationName</key>
                        <value>
                            <name>organizationName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>organizationType</key>
                        <value>
                            <name>organizationType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>packageDescription</key>
                        <value>
                            <name>packageDescription</name>
                        </value>
                    </entry>
                    <entry>
                        <key>packageName</key>
                        <value>
                            <name>packageName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>contactPoint</key>
                        <value>
                            <name>contactPoint</name>
                        </value>
                    </entry>
                    <entry>
                        <key>contactName</key>
                        <value>
                            <name>contactName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>contactEmail</key>
                        <value>
                            <name>contactEmail</name>
                        </value>
                    </entry>
                    <entry>
                        <key>keywords</key>
                        <value>
                            <name>keywords</name>
                        </value>
                    </entry>
                    <entry>
                        <key>publisherURL</key>
                        <value>
                            <name>publisherURL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>spatialURI</key>
                        <value>
                            <name>spatialURI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>spatialCoverage</key>
                        <value>
                            <name>spatialCoverage</name>
                        </value>
                    </entry>
                    <entry>
                        <key>temporalStart</key>
                        <value>
                            <name>temporalStart</name>
                        </value>
                    </entry>
                    <entry>
                        <key>temporalEnd</key>
                        <value>
                            <name>temporalEnd</name>
                        </value>
                    </entry>
                    <entry>
                        <key>themes</key>
                        <value>
                            <name>themes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>version</key>
                        <value>
                            <name>version</name>
                        </value>
                    </entry>
                    <entry>
                        <key>landingPage</key>
                        <value>
                            <name>landingPage</name>
                        </value>
                    </entry>
                    <entry>
                        <key>visibility</key>
                        <value>
                            <name>visibility</name>
                        </value>
                    </entry>
                    <entry>
                        <key>datasetRights</key>
                        <value>
                            <name>datasetRights</name>
                        </value>
                    </entry>
                    <entry>
                        <key>accessURL</key>
                        <value>
                            <name>accessURL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>availability</key>
                        <value>
                            <name>availability</name>
                        </value>
                    </entry>
                    <entry>
                        <key>resourceDescription</key>
                        <value>
                            <name>resourceDescription</name>
                        </value>
                    </entry>
                    <entry>
                        <key>format</key>
                        <value>
                            <name>format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mimetype</key>
                        <value>
                            <name>mimetype</name>
                        </value>
                    </entry>
                    <entry>
                        <key>license</key>
                        <value>
                            <name>license</name>
                        </value>
                    </entry>
                    <entry>
                        <key>licenseType</key>
                        <value>
                            <name>licenseType</name>
                        </value>
                    </entry>
                    <entry>
                        <key>downloadURL</key>
                        <value>
                            <name>downloadURL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>byteSize</key>
                        <value>
                            <name>byteSize</name>
                        </value>
                    </entry>
                    <entry>
                        <key>resourceName</key>
                        <value>
                            <name>resourceName</name>
                        </value>
                    </entry>
                    <entry>
                        <key>resourceRights</key>
                        <value>
                            <name>resourceRights</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>organizationName</key>
                        <value>METEOROLOGIA</value>
                    </entry>
                    <entry>
                        <key>organizationType</key>
                        <value>http://purl.org/adms/publishertype/Academia-ScientificOrganisation</value>
                    </entry>
                    <entry>
                        <key>packageDescription</key>
                        <value>Climatología de la estación de ${station_name_address}. Información elaborada por la Agencia Estatal de Meteorología. Información elaborada utilizando, entre otras, la obtenida de la Agencia Estatal de Meteorología.</value>
                    </entry>
                    <entry>
                        <key>packageName</key>
                        <value>${station_name_address}_${station_id}</value>
                    </entry>
                    <entry>
                        <key>contactPoint</key>
                        <value>https://yoda.dit.upm.es/</value>
                    </entry>
                    <entry>
                        <key>contactName</key>
                        <value>yoda</value>
                    </entry>
                    <entry>
                        <key>contactEmail</key>
                    </entry>
                    <entry>
                        <key>keywords</key>
                        <value>tiempo</value>
                    </entry>
                    <entry>
                        <key>publisherURL</key>
                        <value>https://yoda.dit.upm.es/</value>
                    </entry>
                    <entry>
                        <key>spatialURI</key>
                        <value>https://publications.europa.eu/resource/authority/country/ESP</value>
                    </entry>
                    <entry>
                        <key>spatialCoverage</key>
                    </entry>
                    <entry>
                        <key>temporalStart</key>
                        <value>2022-01-01T00:00:00Z</value>
                    </entry>
                    <entry>
                        <key>temporalEnd</key>
                        <value>2032-01-01T00:00:00Z</value>
                    </entry>
                    <entry>
                        <key>themes</key>
                        <value>http://publications.europa.eu/resource/authority/data-theme/ENVI</value>
                    </entry>
                    <entry>
                        <key>version</key>
                        <value>1.0</value>
                    </entry>
                    <entry>
                        <key>landingPage</key>
                        <value>http://www.aemet.es/</value>
                    </entry>
                    <entry>
                        <key>visibility</key>
                        <value>public</value>
                    </entry>
                    <entry>
                        <key>datasetRights</key>
                        <value>http://publications.europa.eu/resource/authority/access-right/PUBLIC</value>
                    </entry>
                    <entry>
                        <key>accessURL</key>
                        <value>https://broker-yoda.dit.upm.es/ngsi-ld/v1/entities/${entity_id}</value>
                    </entry>
                    <entry>
                        <key>availability</key>
                        <value>http://data.europa.eu/r5r/availability/available</value>
                    </entry>
                    <entry>
                        <key>resourceDescription</key>
                        <value>Observación de climatología de ${station_name_address}</value>
                    </entry>
                    <entry>
                        <key>format</key>
                        <value>JSON_LD</value>
                    </entry>
                    <entry>
                        <key>mimetype</key>
                        <value>application/ld+json</value>
                    </entry>
                    <entry>
                        <key>license</key>
                        <value>http://publications.europa.eu/resource/authority/licence/CC_BY_4_0</value>
                    </entry>
                    <entry>
                        <key>licenseType</key>
                        <value>http://purl.org/adms/licencetype/PublicDomain</value>
                    </entry>
                    <entry>
                        <key>downloadURL</key>
                        <value>https://broker-yoda.dit.upm.es/ngsi-ld/v1/entities/${entity_id}</value>
                    </entry>
                    <entry>
                        <key>byteSize</key>
                        <value>1313</value>
                    </entry>
                    <entry>
                        <key>resourceName</key>
                        <value>${entity_id}</value>
                    </entry>
                    <entry>
                        <key>resourceRights</key>
                        <value>http://publications.europa.eu/resource/authority/access-right/PUBLIC</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateCkanMetadataAttributes</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.ngsi.UpdateCkanMetadataAttributes</type>
        </processors>
        <processors>
            <id>bed9f2ba-d29f-385a-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <position>
                <x>1168.0</x>
                <y>424.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>de72d461-da06-308f-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <position>
                <x>608.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>entity_id</key>
                        <value>
                            <name>entity_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>station_id</key>
                        <value>
                            <name>station_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>station_name_address</key>
                        <value>
                            <name>station_name_address</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>entity_id</key>
                        <value>$.data[0].id</value>
                    </entry>
                    <entry>
                        <key>station_id</key>
                        <value>$.data[0].stationCode.value</value>
                    </entry>
                    <entry>
                        <key>station_name_address</key>
                        <value>$.data[0]["https://smartdatamodels.org/address"].value.addressLocality</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>e5ec11b5-3866-32d9-0000-000000000000</id>
            <parentGroupId>5b009958-2cad-3747-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>344.0</y>
            </position>
            <bundle>
                <artifact>nifi-ngsi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>2.1.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>CKAN Host</key>
                        <value>
                            <name>CKAN Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CKAN Port</key>
                        <value>
                            <name>CKAN Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CKAN Viewer</key>
                        <value>
                            <name>CKAN Viewer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CKAN API Key</key>
                        <value>
                            <name>CKAN API Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ORION URL</key>
                        <value>
                            <name>ORION URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL</key>
                        <value>
                            <name>SSL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ngsi-version</key>
                        <value>
                            <name>ngsi-version</name>
                        </value>
                    </entry>
                    <entry>
                        <key>data-model</key>
                        <value>
                            <name>data-model</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attr-persistence</key>
                        <value>
                            <name>attr-persistence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>default-service</key>
                        <value>
                            <name>default-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>default-service-path</key>
                        <value>
                            <name>default-service-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>create-datastore</key>
                        <value>
                            <name>create-datastore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>enable-encoding</key>
                        <value>
                            <name>enable-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>enable-lowercase</key>
                        <value>
                            <name>enable-lowercase</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Connections</key>
                        <value>
                            <name>Max Connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Connections per Route</key>
                        <value>
                            <name>Max Connections per Route</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>CKAN Host</key>
                        <value>ckan</value>
                    </entry>
                    <entry>
                        <key>CKAN Port</key>
                        <value>80</value>
                    </entry>
                    <entry>
                        <key>CKAN Viewer</key>
                        <value>recline_view</value>
                    </entry>
                    <entry>
                        <key>CKAN API Key</key>
                        <value>XXXXXX</value>
                    </entry>
                    <entry>
                        <key>ORION URL</key>
                        <value> http://orion:1026</value>
                    </entry>
                    <entry>
                        <key>SSL</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ngsi-version</key>
                        <value>ld</value>
                    </entry>
                    <entry>
                        <key>data-model</key>
                        <value>db-by-entity</value>
                    </entry>
                    <entry>
                        <key>attr-persistence</key>
                        <value>column</value>
                    </entry>
                    <entry>
                        <key>default-service</key>
                        <value>test</value>
                    </entry>
                    <entry>
                        <key>default-service-path</key>
                        <value>/path</value>
                    </entry>
                    <entry>
                        <key>create-datastore</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>enable-encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>enable-lowercase</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Max Connections</key>
                        <value>500</value>
                    </entry>
                    <entry>
                        <key>Max Connections per Route</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>NGSIToCKAN</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.ngsi.NGSIToCKAN</type>
        </processors>
    </snippet>
    <timestamp>07/15/2022 09:34:51 UTC</timestamp>
</template>
